# Supabase configuration for Database insertion
SUPABASE_URL=https://your-project-id.supabase.co
# Note: Since this is the backend, you could use the Service Role Key here to bypass RLS if needed,
# or just the anon key.
SUPABASE_KEY=your-supabase-key

# SMTP configuration for mailing
SMTP_HOST=mail.autowise-dz.com
SMTP_PORT=465
SMTP_USER=contact@autowise-dz.com
SMTP_PASS=your-password
SMTP_FROM=contact@autowise-dz.com

# Server configuration
PORT=3001
